CompileFlags:
  Compiler: /opt/st/stm32cubeclt_1.20.0/GNU-tools-for-STM32/bin/arm-none-eabi-gcc
  Add:
    - -target
    - arm-none-eabi
    - --sysroot=/opt/st/stm32cubeclt_1.20.0/GNU-tools-for-STM32/arm-none-eabi
